<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>home page</h1>
    <a href="{% url 'addbook' %}">Add Book</a>
    <form action="{% url 'logoutaucont' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
    </form>
    <hr>
    {% for i in data %}
        <img src="media/{{i.cover}}" heigth=200 width=200 alt="">
        <a href="media/{{i.book_pdf}}">Download PDF</a>
        <p>{{i.title}}{{i.info}}{{i.cover}}{{i.book_pdf}}{{i.datetime}}</p>
        <form action="{% url 'deletebook' i.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
        </form>
        <form action="{% url 'updatebook' i.id %}" method="get">
        <button type="submit">Update</button>
        </form>
        <hr>
    {% endfor %}
</body>
</html>